@import '../vars';

.profile_wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 30px 0;
    gap: 20px;
}

.grey_block {
    background-color: #c4c4c43b;
    padding: 25px 40px;
    border-radius: 5px;

    &.grey_block_full {
        height: 100%;
    }

    &.grey_block_min_padding {
        padding: 20px;
    }
}

.grey_block + .grey_block {
    margin-top: 20px;
}

.profile {

    &_message {
        padding: 10px 30px;

        color: white;
        border-radius: 10px;
        display: inline-block;

        &.success {
            background: #a7ef65;
        }

        &.error {
            background: #ff6e6e;
        }
    }
    &_form {
        max-width: 100%;
        width: 400px;
        padding: 1rem 0;

        &_label {
            display: block;
            font-weight: 500;
        }

        &_field {
            width: 100%;
            border: none;
            background: none;
            font-size: 16px;
            padding: 0 5px;
            outline: none;
            border-bottom: 1px solid #cbcbcb;
            margin-bottom: 1rem;

            &:focus {
                border-color: $pink;
            }

            &.error {
                border-color: #ff6e6e !important;
            }

            &_error {
                color: #ff6e6e;
            }
        }

        button {
            margin-top: 1rem;
        }
    }

    &_wrapper {
        .order {
            background: #fff !important;
        }
    }

    &_title {
        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.profile_username {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    color: #747474;
}

.profile_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 49px;
    color: $dark;

    position: relative;
    padding-bottom: 5px;

    &.profile_has_username {
        margin-bottom: 0;
        line-height: normal;
    }

    &.no_underline {
        margin-bottom: 0;

        &::before, &::after {
            display: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85px;
        border: 1px solid $pink;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200px;
        border: 1px solid #F6F6F6;
    }
}

.profile_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &_item {
        height: 45px;
        display: flex;
        align-items: center;
        background: white;
        width: 100%;
        position: relative;
        -webkit-box-shadow: 0px 10px 24px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 10px 24px -20px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 10px 24px -20px rgba(0, 0, 0, 0.75);
        transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;

        &:hover {
            transform: translateX(5px);
        }

        &.active::after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            width: 5px;
            border-radius: 5px;
            background-color: $pink;
        }

        &_title {
            font-size: 14px;
            color: $dark;

            small {
                font-size: 11px;
                color: #b1b1b1;
            }
        }

        &_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 28px;

            img {
                width: 18px;
            }
        }
    }
}

.profile_details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.profile_detail {
    display: flex;
    gap: 10px;
    width: 50%;
    float: left;
    margin-bottom: 15px;

    &_icon {
        width: 18px;
    }
}

.profile_info_wrapper {
    display: grid;
    grid-template-columns: 1fr 30%;
}

.profile_info_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages_btn {
    width: 260px;
    margin-top: -13px;
    margin-bottom: -12px;
}

.profile_avatar {
    width: 180px;
    height: 180px;
    position: relative;
    border: 1px solid $pink;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_edit {
        width: 30px;
        height: 30px;
        position: absolute;
        border-radius: 100%;
        top: 10px;
        right: 10px;
        background: white;
        display: flex;
        border: 1px solid $pink;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: $pink;

        &:hover {
            background: #f5f5f5;
        }
    }

    &_image {
        width: 170px;
        height: 170px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;

        &:hover::before {
            -webkit-animation: shine 0.75s;
            animation: shine 0.75s;
        }

        &::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }
    }

}

.selectize-input {
    border-bottom: 1px solid #cbcbcb !important;

    &:focus-within {
        border-color: $pink !important;
    }

    .item {
        background: #fff !important;
    }
}

.portfolio {
    cursor: pointer;
    &-img {
        max-width: 90vw;
        width: 700px;
    }

    &-description {
        font-size: 14px;
        padding: 15px 0;
    }

    &-link {
        text-align: start;
        padding: 2px 15px;
        background: #303030;
        border-radius: 5px;
        color: white;
        margin-bottom: .5rem;
    }
}

.profile_text {
    color: $dark;
    line-height: 23px;
    margin-bottom: 20px;

    pre {
        word-break: break-all;
        white-space: break-spaces;
    }
}

.profile_details_link {
    color: #282828;
    font-size: 14px;
    font-weight: 600;
}

.portfolios {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.portfolio {
    height: 200px;
    box-shadow: 0px 10px 24px -20px rgb(0 0 0 / 75%);
    position: relative;
    color: white;

    &_btn {
        display: flex;
        gap: 5px;
        align-items: center;

        &.portfolio_btn_min_img {
            img {
                width: 14px;
            }
        }

        img {
            width: 20px;
        }
    }

    &_title {
        font-weight: 600;
        font-size: 20px;
    }

    &_image {
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &_overlay {
        opacity: 0;
        z-index: 1;
        background-color: #00000085;
        position: relative;
        width: 100%;
        height: 100%;
        transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        .portfolio_overlay_header {
            height: 30px;
            display: flex;
            gap: 10px;
            width: 100%;
        }

        .portfolio_overlay_footer {
            width: 100%;
        }
    }

    &:hover {
        .portfolio_overlay {
            opacity: 1;
        }
    }
}

.portfolios_tags {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .portfolios_tag {
        padding: 10px 15px;
        background-color: white;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            transform: translateY(-3px);
        }

        &.active::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            border-radius: 5px;
            content: '';
            background-color: $pink;
        }
    }
}

.ad_block {
    border: 1px solid #afafaf;
    height: 260px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: #afafaf;
}
