.profile_wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 30px 0;
  gap: 20px;
}

.grey_block {
  background-color: #c4c4c43b;
  padding: 25px 40px;
  border-radius: 5px;
}
.grey_block.grey_block_full {
  height: 100%;
}
.grey_block.grey_block_min_padding {
  padding: 20px;
}

.grey_block + .grey_block {
  margin-top: 20px;
}

.profile_message {
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  display: inline-block;
}
.profile_message.success {
  background: #a7ef65;
}
.profile_message.error {
  background: #ff6e6e;
}
.profile_form {
  max-width: 100%;
  width: 400px;
  padding: 1rem 0;
}
.profile_form_label {
  display: block;
  font-weight: 500;
}
.profile_form_field {
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  padding: 0 5px;
  outline: none;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 1rem;
}
.profile_form_field:focus {
  border-color: #EB00E1;
}
.profile_form_field.error {
  border-color: #ff6e6e !important;
}
.profile_form_field_error {
  color: #ff6e6e;
}
.profile_form button {
  margin-top: 1rem;
}
.profile_wrapper .order {
  background: #fff !important;
}
.profile_title_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile_username {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 14px;
  color: #747474;
}

.profile_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 49px;
  color: #282828;
  position: relative;
  padding-bottom: 5px;
}
.profile_title.profile_has_username {
  margin-bottom: 0;
  line-height: normal;
}
.profile_title.no_underline {
  margin-bottom: 0;
}
.profile_title.no_underline::before, .profile_title.no_underline::after {
  display: none;
}
.profile_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  border: 1px solid #EB00E1;
  z-index: 1;
}
.profile_title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  border: 1px solid #F6F6F6;
}

.profile_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.profile_menu_item {
  height: 45px;
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  position: relative;
  box-shadow: 0px 10px 24px -20px rgba(0, 0, 0, 0.75);
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.profile_menu_item:hover {
  transform: translateX(5px);
}
.profile_menu_item.active::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  border-radius: 5px;
  background-color: #EB00E1;
}
.profile_menu_item_title {
  font-size: 14px;
  color: #282828;
}
.profile_menu_item_title small {
  font-size: 11px;
  color: #b1b1b1;
}
.profile_menu_item_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
}
.profile_menu_item_icon img {
  width: 18px;
}

.profile_details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.profile_detail {
  display: flex;
  gap: 10px;
  width: 50%;
  float: left;
  margin-bottom: 15px;
}
.profile_detail_icon {
  width: 18px;
}

.profile_info_wrapper {
  display: grid;
  grid-template-columns: 1fr 30%;
}

.profile_info_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages_btn {
  width: 260px;
  margin-top: -13px;
  margin-bottom: -12px;
}

.profile_avatar {
  width: 180px;
  height: 180px;
  position: relative;
  border: 1px solid #EB00E1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_avatar_edit {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  top: 10px;
  right: 10px;
  background: white;
  display: flex;
  border: 1px solid #EB00E1;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #EB00E1;
}
.profile_avatar_edit:hover {
  background: #f5f5f5;
}
.profile_avatar_image {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.profile_avatar_image:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
.profile_avatar_image::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.selectize-input {
  border-bottom: 1px solid #cbcbcb !important;
}
.selectize-input:focus-within {
  border-color: #EB00E1 !important;
}
.selectize-input .item {
  background: #fff !important;
}

.portfolio {
  cursor: pointer;
}
.portfolio-img {
  max-width: 90vw;
  width: 700px;
}
.portfolio-description {
  font-size: 14px;
  padding: 15px 0;
}
.portfolio-link {
  text-align: start;
  padding: 2px 15px;
  background: #303030;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.5rem;
}

.profile_text {
  color: #282828;
  line-height: 23px;
  margin-bottom: 20px;
}
.profile_text pre {
  word-break: break-all;
  white-space: break-spaces;
}

.profile_details_link {
  color: #282828;
  font-size: 14px;
  font-weight: 600;
}

.portfolios {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.portfolio {
  height: 200px;
  box-shadow: 0px 10px 24px -20px rgba(0, 0, 0, 0.75);
  position: relative;
  color: white;
}
.portfolio_btn {
  display: flex;
  gap: 5px;
  align-items: center;
}
.portfolio_btn.portfolio_btn_min_img img {
  width: 14px;
}
.portfolio_btn img {
  width: 20px;
}
.portfolio_title {
  font-weight: 600;
  font-size: 20px;
}
.portfolio_image {
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.portfolio_overlay {
  opacity: 0;
  z-index: 1;
  background-color: #00000085;
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.portfolio_overlay .portfolio_overlay_header {
  height: 30px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.portfolio_overlay .portfolio_overlay_footer {
  width: 100%;
}
.portfolio:hover .portfolio_overlay {
  opacity: 1;
}

.portfolios_tags {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.portfolios_tags .portfolios_tag {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolios_tags .portfolios_tag:hover {
  transform: translateY(-3px);
}
.portfolios_tags .portfolios_tag.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 5px;
  content: "";
  background-color: #EB00E1;
}

.ad_block {
  border: 1px solid #afafaf;
  height: 260px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: #afafaf;
}
